<%- include("../partials/adminHead") -%>
<main role="main" class="main-content">
  <div class="container mt-5">
    <h2 class="mb-4">Add Product</h2>
    <form action="/admin/addProduct" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="category">Category:</label>
        <select class="form-select" id="category" name="category" required>
          <option value="" disabled>Select Category</option>
          <% category.forEach(category=> { %>
            <option value="<%= category._id %>">
              <%= category.name %>
            </option>
            <% }); %>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" id="price" name="price" min="0" required>
      </div>
      <div class="form-group">
        <label for="stock">Stock:</label>
        <input type="number" class="form-control" id="stock" name="stock" min="0" required>
      </div>
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" class="form-control-file" id="image" name="images" accept="image/*" multiple required>
      </div>
      <div id="imagePreview"></div>
      <button type="submit" class="btn btn-primary mt-3">Add Product</button>
    </form>
  </div>
</main>
</div>


  <script>
    document.getElementById("image").addEventListener("change", function() {
      var files = this.files;
      var imagePreview = document.getElementById("imagePreview");

      imagePreview.innerHTML = "";

      for (var i = 0; i < files.length; i++) {
        var file = files[i];
        var reader = new FileReader();

        reader.onload = function(e) {
          var img = document.createElement("img");
          img.src = e.target.result;
          img.style.maxWidth = "100px";
          img.style.maxHeight = "100px";
          img.style.marginRight = "10px";
          img.style.marginBottom = "10px";
          imagePreview.appendChild(img);
        };

        reader.readAsDataURL(file);
      }
    });
  </script>

<script>

const form = document.querySelector('form');

form.addEventListener('submit', async (event) => {
  event.preventDefault(); // Prevent the default form submission

  try {

    // Display success Swal
    await Swal.fire({
      icon: 'success',
      title: 'Product Added Successfully',
      showConfirmButton: false,
      timer: 1000
    });

    // After displaying the success Swal, submit the form
    form.submit();
  } catch (error) {
    console.error('Error:', error);
    
  }
});

  </script>
  <!-- Bootstrap JS -->
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <%- include('../partials/adminFooter') -%>
