<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>

        .container {
            max-width: 400px;
            margin: auto;
            margin-top: 120px;
            padding: 20px;
            border: 0.7px solid #848383;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
            background: linear-gradient(to right, #afb5f9, #1D2671);
        }


        .text-danger {
            color: #dc3545;
            /* Red color for error message */
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-lg-12">
                <h3 class="text-center mb-4" style="color: white;">Forgot Password</h3>
                <form action="/forgotPassword" class="text-center" method="post">
                    <div class="form-group">
                        <label for="gmail" style="color: white;">Enter your registered email:</label>
                        <input type="email" id="email" class="form-control" name="email" required>
                    </div>
                    <button type="submit" class="btn btn-dark  w-75">Submit</button>
                    <% if(emailError){ %>
                        <div class="text-danger text-center mt-2">
                            <%= emailError %>
                        </div>
                        <% } %>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>