<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Additional Custom CSS */
        body {
            background-color: #f8f9fa;
            /* Light gray background */
        }

        .container {
            max-width: 400px;
            margin: auto;
            margin-top: 120px;
            padding: 20px;
            border: 0.5px solid #848383;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
            background: linear-gradient(to right, #afb5f9, #1D2671);
        }


        h3 {
            text-align: center;
            margin-bottom: 20px;
            color: #ffffff;
            margin-bottom: 40px;
        }

        .verification-input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="verification-container ">
            <form action="/newPassword" method="post" class="text-center" onsubmit="return validatePassword()">
                <h3>Enter New Password</h3>
                <input type="password" id="password" class="verification-input" name="password"
                    placeholder="New password.." onkeyup="validatePassword()" required>
                <input type="password" id="cpassword" class="verification-input" name="cpassword"
                    placeholder="Confirm New password.." onkeyup="validatePassword()" required>
                <button type="submit" class="btn btn-dark mt-3 w-75" id="verify">Submit</button>
                <p id="passwordError" style="color: white; font-weight: 500;"></p>
                <% if(passwordError){ %>
                    <div class="text-center" style="color: red; font-size: 16px; font-weight: bold;">
                        <%= passwordError %>
                    </div>
                    <% } %>
            </form>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function validatePassword() {
            var passwordError = document.getElementById('passwordError');
            var password = document.getElementById('password').value;

            if (!password.match(/^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*()-_+=<>?])[A-Za-z\d\S]{8,}$/)) {
                passwordError.innerHTML = 'Password must be atleast 8 characters with atleast one letter, one digit and one special character!'
                return false;
            } else {
                passwordError.innerHTML = '';
                return true;
            }
        }

    </script>

</body>

</html>